#ringme--button-generator-form .grid__row {
  border: 1px solid #CCC;
}

#ringme--button-generator-form .grid__4,
#ringme--button-generator-form .grid__8 {
  padding: 0;
}

#ringme--button-generator-form details {
  border-width: 0;
}
#ringme--button-generator-form details {
  border: none;
}
#ringme--button-generator-form details summary {
  display: none;
}

#ringme--button-generator-form div.preview {
  margin: 0.4em 0 0;
  border: 1px solid #AAA;
  padding: 0.8em;
  min-height: 58px;
  text-align: center;
}

#ringme--button-generator-form input,
#ringme--button-generator-form textarea {
  margin: 0.4em 0 0;
  border: 1px solid #AAA;
  padding: 0.4em;
  width: 100%;
}
