{#
/**
 * @file
 * Template for Ring Me test page.
 *
 * Availables variables are :
 * - form: Ring Me button generator
 *
 * You should copy this template into your custom theme,
 * if you need to customise it.
 */
#}
<div class="container ringme--generator-preview" id="ringme--generator-preview">
  {{ form }}
</div>
